<div id="sc-toolbar">

  <div class="left">
    <button mat-icon-button (click)="addNewNote()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="right">
    <button mat-icon-button (click)="gotoList()">
      <mat-icon>list</mat-icon>
    </button>
    <button mat-icon-button (click)="gotoSettings()">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button (click)="minimize()">
      <mat-icon>minimize</mat-icon>
    </button>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

</div>
