<div class="find-note">
  <div class="search-input">
    <label>
      <input [formControl]="searchCtrl" #searchInput type="text" placeholder="Search note by title" tabindex="0" />
    </label>
  </div>
  <mat-list id="list" *ngIf="notes && notes.length > 0">
    <mat-list-item 
    (click)="selectNote($event)" 
    (keydown.enter)="selectNote($event)" 
    *ngFor="let note of notes;let index=index" 
    [tabindex]="index+1" 
    [class.active]="focusedNoteIndex === index">

      <mat-icon mat-list-icon color="primary">note</mat-icon>
      <h4 mat-line>{{note.title}}</h4>
      <p mat-line> {{note.createdAt | date:"EEEE, m d h:mm a"}}</p>

    </mat-list-item>

  </mat-list>
</div>
